# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/

# Model files
model/

# SQLite database
tracker/activity_logs.db

# Logs and temporary files
*.log
*.tmp

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS-specific files
.DS_Store
Thumbs.db

client/node_modules